<div>
	<%= link_to_unless_current 'Sub1',
				:controller => "admin",
				:action => "sub1",
				:class => 'link' %>
				&nbsp;|&nbsp;
				
	<%= link_to_unless_current 'Backup db',
	
				:action => "backup_db",
				:class => 'link' %>
				
</div>
