<h1>
	Words
	<!-- <a name="top">Words</a> -->

		<% if @words != nil %>
			
			<span style="font-weight: normal; font-size: smaller">
				
				(<%= @all_words.size %>)
				<!-- (<%#= @words.size %>) -->
				
			</span> (
			
			<span style="font-weight: normal; font-size: smaller">
				
				<% @langs.each do |lang| %>
				
					<%= lang.name %>: <%= @all_words.select{|word| word.lang_id == lang.id}.size%> / 
					<!-- <%#= lang.name %>: <%#= @words.select{|word| word.lang_id == lang.id}.size%> / --> 
					
				<% end %> 
				
			</span>)
			
		<% end %>
	
</h1>
