<!DOCTYPE html>
<html>
<head>

	<%= render :partial => "layouts/application_head" %>

	<meta name="viewport"
           content="width=device-width,
			user-scalable=yes,
			initial-scale=1.0,
                    maximum-scale=3.0" />
</head>
<body>

<a name="top"><hr /></a>
<%= render :partial => "layouts/footer_main" %>
<hr />

<%= yield %>

<hr />
<%= render :partial => "layouts/footer_main" %>
<hr />

</body>
</html>
